@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    box-sizing: border-box;
    font-family: "Itim";
}
body{
    margin: 0;   
}

h1 {
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 4px;
}

.img-container {
    margin: 10px 20%;
}

.img-container img {
    width: 100%;
    margin-top: 5px;
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 20px;
    }

    .img-container {
        margin: 10px;
    }
}